# OS / editor
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/

# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env / local
.env
.env.*
.chrome.pid
.server.pid

# Vercel local files
.vercel/

